﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="add_cliente.aspx.cs" Inherits="VISTA.add_cliente" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div class="container">
            <div class="row mt-5">
                <div class="card mx-auto my-auto">
                    <div class="card-body">
                        <div class="card-header text-center mb-3"><h1>Registrar Cliente</h1></div>
                        <div class="input-group mb-2">
                            <label for="input_nombre" class="mr-2 mt-2">Nombre Completo:</label>
                            <input type="text" id="input_nombre" class="form-control" placeholder="Nombre Completo" aria-label="Nombre Completo" />
                        </div>
                         <div class="input-group mb-2">
                            <label for="input_edad" class="mr-2 mt-2">Fecha de Nacimiento</label>
                            <input type="date" id="input_edad" class="form-control" placeholder="fecha de nacimiento" aria-label="Fecha Nacimiento" />
                        </div>
                        <div class="input-group mb-2">
                            <label for="input_email" class="mr-2 mt-2">Correo Electronico</label>
                            <input type="email" id="input_email" class="form-control" placeholder="Email" aria-label="Email" />
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-success">Registrar Cliente</button>
                        <button class="btn btn-secondary">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
