﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="inicio.aspx.cs" Inherits="VISTA.inicio" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Banco Internacional de Microsoft xdxdxd</title>

   
</head>
<body>
    <form id="form1" runat="server">
        <div id="page">
            <div id="header">
                <img src="/assets/microsoft_logo.png" alt="Logotipo del banco" height="150px"/>
                <h1>Banco Nacional de Microsoft</h1>
            </div>
            <div id="menu">
                <a href="#">Home <img src="/assets/home.png"  height="20px"/></a> ||
                <a href="#">Quienes Somos</a> ||
                <a href="#">Historia</a> ||
                <a href="#">Contacto</a> ||
            </div>
            <div id="content">
                <p>
                    <strong>Bienvenidos</strong>
                    Querido cliente, lmao. Ya tenemos su información. Denos su dinero, somos Microsoft, somos muchos, somos legion. <br />
                    Ajajajajajajajajajajaj.<br />
                    Tenemos la NUUUUBE. Y sacaremos Halo MCC para la PC! WUUUUUUUUUUUUUUU! PCMASTERRACE EJEJEJEJ.<br />
                    SALE.XDxDxxXDxdX<br /><br />

                    Xbox Exclusives...Nah. Game pass! Yeah!
                    PC. Windows 10!

                </p>
                <ul>
                    <li>Game pass. Consiguelo</li>
                    <li>Windows 10 Exclusives</li>
                    <li>Microsoft Accounts</li>
                    <li>Nada de PS4 shit</li>
                </ul>
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" /> <br />

                <label for="direccion">Direccion</label>
                <input type="text" id="direccion" /><br />

                <label for="telefono">Telefono</label>
                <input type="text" id="telefono" /><br />

                <label for="contrasena">Password</label>
                <input type="text" id="contrasena" /><br />

                <label for="genero">Genero</label>
                <select id="genero">
                    <option>Hombre</option>
                    <option>Mujer</option>
                    <option>Otro</option>
                </select>
                A continuacion le muestro una tabla con los valores de cambio del billete, billetudo ;D <br />
                <table border="1">
                    <thead>
                        <tr>
                            <th>Dolla</th>
                            <th>Pejecoin</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>128</td>
                        <td>598</td>
                    </tr>
                </table>
                <label for="fotinha">Subir foto: </label>
                <input id="fotinha" type="file" />

            </div>
            <div id="footer">

            </div>
            
            
            
        </div>
    </form>

    
</body>
</html>
