﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="inicio3.aspx.cs" Inherits="VISTA.inicio3" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style>

    </style>
</head>
<body style="background-color:cadetblue;">
    <form id="form1" runat="server">
        <div id="wrap" style="width:800px; height:1200px; background-color:#ffffff; box-shadow:rgba(128, 128, 128, 0.70) 10px 10px;">
            <div id="header" style="width:100%; height:150px; border:groove 5px;">
                <div id="logo" style="background-image:url('/assets/microsoft_logo.png'); background-size:50%; background-position:center; background-repeat:no-repeat; width:100%; height:100%;"></div>
                <div id="logo2" style="background-image:url('/assets/microsoft_logo.png'); background-size:50%; background-repeat:no-repeat; width:100%; height:100%; margin:50px;"></div>
                
            </div>
            <div id="menu" style="width:100%; height:20px;">

            </div>
            <div id="content" style="width:100%; height:1030px;">

            </div>
            <div id="footer" style="width:100%; height:75px;">

            </div>

        </div>
    </form>
</body>
</html>
