﻿body {
    font-family:Arial;
    background-color:#aef0f7;
}



#header{
    text-align:center;
}


ul {
    list-style-type: none;
}



#lista-extras, #lista-frameworks, #lista-generales, #lista-proyectos {
    background-color: #aef0f7;
    padding: 20px;
}


#lista-frameworks > td > ul {
    list-style-type: circle;
}


#lista-proyectos > td > ul {
    list-style-type: circle;
}

#contacto-form {
    background-color: #aef0f7;
    padding: 20px;
}

h3{
    padding: 10px;
    background-color:#bef2f7;
    border-bottom: 5px solid black;
}

.flex-container{
    display:flex;
    flex-direction: row;
    justify-content:center;

}

.lista-titulo{
    text-align:center;
}

