﻿body {
    background-color: black;
    width:100%;
    font-family:'Segoe UI';
}

#header {
    background-color: rgba(255, 109, 16, 0.5)
}

#header h1 {
    text-align:center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ca5100;
}

#shd_logo_container img{
   height:10%;
   width:10%;
}

#shd_logo_container .flex-container{
    justify-content:center;
}



#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #151515;
}

#navbar li {
    float: left;
}

#navbar li a {
    background-color:#000;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition:0.3s;
}

/* Change the link color to #111 (black) on hover */
#navbar li a:hover {
    background-color: #ca5100;
}

#content {
    height:750px;
    background-image: url('/assets/the-division-shd-logo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20%;
}

.desc_text {
    padding: 10px;
    color: white;
}

.desc_text > p {
        padding: 25px;
        background-color: rgba(255, 109, 16, 0.5)
}

.desc_text > ul {
    padding: 25px;
    background-color: rgba(255, 109, 16, 0.5)
}

.desc_text > h3 {
    color: #ca5100;
}


strong{
    color:#ca5100;
}

.flex-container {
    display: flex;
}

.location{
    margin:10px;
}

.location > img{
    width:250px;
}

.location-container {
    justify-content:space-between;
    text-align:center;
    padding: 25px;
    background-color: rgba(255, 109, 16, 0.5)
}




